body{
    background-image: url("einar-storsul-hw2wB-Sqg0k-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.link {
    color: brown;
    display: table;
    transform: scale(  0.5);
    /*border-style: dashed;*/
    border-color: green;
    border-width: 10px;
} 

img {
    width:  150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    border: 10px none purple ;
}

div {
    width: 33%;
    float: left;
}

.link:hover{
    transform: scale(  0.7);
    animation: havalanma;
    animation-duration: 1s;
}

@keyframes alcalma {
    from {transform: scale(0.7);}
    to   {transform: scale(0.5);}
    
}

@keyframes havalanma {
    from {transform: scale( 0.5);}
    to   {transform: scale( 0.7);}  
      
}

h1{
    color: white;
    font-family: myFirstFont;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;/*Black border around text*/
}

@font-face {
  font-family: myFirstFont;
  src: url('\Quintessential-Regular.ttf')  format('truetype');
}

@media only screen and (hover: none) and (pointer: coarse){
    img {
        width:  250px;
        height: 250px;
        border-radius: 50%;
        background-color: white;
        border: 10px solid red ;
    }
    h1 {
        font-size: 500%;
        color: white;
        font-family: myFirstFont;
        text-shadow: 1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        0px 1px 0 #000,
        0px -1px 0 #000,
        -1px 0px 0 #000,
        1px 0px 0 #000,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 0px 0 #000,
        1px 2px 0 #000,
        -1px 2px 0 #000,
        1px -2px 0 #000,
        -1px -2px 0 #000,
        2px 1px 0 #000,
        -2px 1px 0 #000,
        2px -1px 0 #000,
        -2px -1px 0 #000;/*Black border around text*/
    }
   }