body{
    background-image: url("natr.jpeg");
    background-attachment: fixed;
    background-size: cover;
}


.link {
    color: brown;
    display: table;
    transform: scale(  0.5);
    /*border-style: dashed;*/
    border-color: green;
    border-width: 10px;
} 

img {
    width:  150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #C0C0C0;
    animation: renkon;
    animation-duration: 1s;
}

img:hover{
    animation: renkoff;
    animation-duration: 1s;
    animation-direction: alternate;
    border: 10px solid #FFD700;
}


@keyframes renkon{
    from {border: 10px solid #FFD700;}
    to {border: 10px solid #C0C0C0;}
}

@keyframes renkoff{
    from {border: 10px solid #C0C0C0;}
    to {border: 10px solid #FFD700;}
}

div {
    width: 25%;
    float: left;
}

.link:hover{
    transform: scale(  0.7);
    animation: havalanma;
    animation-duration: 1s;
}


@keyframes alcalma {
    from {transform: scale(0.7);}
    to   {transform: scale(0.5);}
    
}

@keyframes havalanma {
    from {transform: scale( 0.5);}
    to   {transform: scale( 0.7);}  
      
}

h1:hover{
    animation:infinite;
    animation-name: baslıkon;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
}
@keyframes baslıkon{
    from{
        color: silver;
    }
    to{
        color: gold;
    }
}

@keyframes bb{
    from{
        color: gold
    }
    to{
        color: white;
    }
}
h1{
    animation-name: bb;
    animation-duration: 1s;
    color: white;
    font-family: myFirstFont;
    font-size: 250%;
    text-shadow: 1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black,
    0px 1px 0 black,
    0px -1px 0 black,
    -1px 0px 0 black,
    1px 0px 0 black,
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black,
    0px 2px 0 black,
    0px -2px 0 black,
    -2px 0px 0 black,
    2px 0px 0 black,
    1px 2px 0 black,
    -1px 2px 0 black,
    1px -2px 0 black,
    -1px -2px 0 black,
    2px 1px 0 black,
    -2px 1px 0 black,
    2px -1px 0 black,
    -2px -1px 0 black;/*Black border around text*/
}

@font-face {
  font-family: myFirstFont;
  src: url('DancingScript-SemiBold.ttf')  format('truetype');
}

@media only screen and (hover: none) and (pointer: coarse){
    img {
        width:  250px;
        height: 250px;
        border-radius: 50%;
        background-color: white;
        border: 10px solid #C0C0C0;
    }
    body{
        background-image: url("whitesrose.jpeg");
        background-attachment: fixed;
        background-size: cover;
    }
    h1 {
        font-size: 500%;
        color: white;
        font-family: myFirstFont;
        text-shadow: 1px 1px 0 black,
        -1px 1px 2px black,
        1px -1px 2px black,
        -1px -1px 2px black,
        0px 1px 2px black,
        0px -1px 2px black,
        -1px 0px 2px black,
        1px 0px 2px black,
        2px 2px 2px black,
        -2px 2px 2px black,
        2px -2px 2px black,
        -2px -2px 2px black,
        0px 2px 2px black,
        0px -2px 2px black,
        -2px 0px 2px black,
        2px 0px 2px black,
        1px 2px 2px black,
        -1px 2px 2px black,
        1px -2px 2px black,
        -1px -2px 2px black,
        2px 1px 2px black,
        -2px 1px 2px black,
        2px -1px 2px black,
        -2px -1px 2px black,
        4px 1px 2px black,
        -4px -1px 2px black,
        -4px 1px 2px black,
        4px -1px 2px black,
        4px 1px 2px black,
        -4px -1px 2px black,
        -4px 1px 2px black,
        4px -1px 2px black,
        1px 4px 2px black,
        -1px -4px 2px black,
        -1px 4px 2px black,
        1px -4px 2px black,
        1px 4px 2px black,
        -1px -4px 2px black,
        -1px 4px 2px black,
        1px -4px 2px black;
    }
    div {
        width: 33%;
        float: left;
    }
   }